<h1>Formulario de contacto</h1>

<form [formGroup]="formContact">

    <div class="form-group">
      <label for="name">Nombre: </label>
      <input type="text" class="form-control" id="name" required formControlName="nombre">
    </div>
  
    <div class="form-group">
      <label for="email">Email: </label>
      <input type="email" class="form-control" id="email" required formControlName="email">
    </div>
  
    <div class="form-group">
      <label for="textarea">Mensaje</label>
      <textarea class="form-control" id="textarea" required formControlName="textarea"></textarea>
    </div>
  
    <div class="form-group">
      <label for="capcha">{{capcha}}</label>
      <input type="text" class="form-control" id="capcha" required formControlName="capcha">
    </div>
  
    <button class="btn btn-success" (click)="send()" [disabled]="formContact.invalid">Submit</button>
  </form>
  <p *ngIf="error">El capcha esta mal, vuelvelo a intentar</p>

  <app-respuestacontacto [listacontacto]="contacto"></app-respuestacontacto>
